@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes btn-fondu {
  100% {
    background-color: #7C8BC6;
    color: white;
  }
}
@-webkit-keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
html, body {
  background: #E8EBF7;
  margin: 0;
  height: 100%;
}

.container__page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__page--small {
  height: unset;
}

a {
  text-decoration: none;
  color: #2D1E2F;
  font-family: "robotoregular";
}

p,
h1,
h2,
h3 {
  font-family: "robotoregular";
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  width: 300px;
  max-width: 100%;
}

.header__background {
  height: 200px;
}
.header__background--contain img {
  width: 100%;
  object-fit: contain;
}
.header__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main {
  height: 100%;
}

.main__small {
  height: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main__small--title {
  font-size: 20px;
}
.main__small--txt {
  font-size: 15px;
  text-align: justify;
}
.main__small--bg {
  background: #F3CA40;
}

.main__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
}

.container__txt {
  opacity: 0;
  margin: 20px;
  width: 50%;
  padding: 10px;
  text-align: center;
  animation: card-fondu 1s ease-in-out 900ms both;
  -webkit-animation: card-fondu 1s ease-in-out 900ms both;
}
.container__txt img {
  width: 100%;
}

.container__logo {
  border: 5px solid #F2A541;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  animation: slide-right 1s ease-in-out 1.5s both;
  -webkit-animation: slide-right 1s ease-in-out 1.5s both;
}

.nav__bar {
  position: relative;
  bottom: 40px;
  border-radius: 30px 30px 0 0;
  opacity: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  background: #2D1E2F;
  align-items: center;
  animation: slide-up 1s ease-in-out 200ms both;
  -webkit-animation: slide-up 1s ease-in-out 200ms both;
}
.nav__bar a {
  color: white;
}

footer {
  height: 200px;
}

.footer__container {
  background: #2D1E2F;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__container i {
  font-size: 30px;
  color: #E8EBF7;
}

.footer__txt {
  width: 300px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__txt a {
  color: white;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #95A3DA;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.card:hover {
  animation: btn-fondu 200ms forwards;
}
.card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__link {
  width: 100%;
  max-width: 200px;
}

.btn {
  width: 100%;
  height: 50px;
  border: none;
  background: #485896;
}
.btn a {
  color: white;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
