.card {
    background: white;
    @include border-shadow;
    @include flex-center;
    justify-content: center;

    &:hover {
        animation: btn-fondu 200ms forwards;
    }

    & p {
        @include txt-ellipsis;
    }

    &__link {
        width: 100%;
        max-width: 200px;

        // &--btn {
        //     position: relative;
        //     top: 80px;
        // }
    }
}