
html, body {
    // border: 1px solid green;
    background: $primary-color;
    margin: 0;
    height: 100%;
}

.container__page {
    // border: 1px solid green;
    width: 100%;
    height: 100%;
    @include flex-column;
    justify-content: space-between;
    &--small {
        height: unset;
    }
}

a {
    text-decoration: none;
    color: $quinary-color;
    font-family: 'robotoregular';
}

p,
h1,
h2,
h3 {
    font-family: 'robotoregular';
}