html, body {
    // border: 1px solid green;
    background: $primary-color;
    margin: 0;
    height: 100%;
}

.container__page {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: $quinary-color;
}

p, h1, h2, h3 {
    font-family: 'robotoregular';
}