footer {
    height: 200px;
}

.footer__container {
    background: #2D1E2F;
    height: 100%;
    @include flex-column;
    justify-content: space-evenly;
    align-items: center;

    & i {
        font-size: 30px;
        color: $primary-color;
    }
}

.footer__txt {
    width: 300px;
    color: white;
    font-size: 20px;
    @include flex-center;

    & a {
        color: white;
    }
}