footer {
    height: 20%;
}

.footer__container {
    background: $quinary-color;
    height: 100%;
    @include flex-center;
    & i {
        font-size: 30px;
        color: $primary-color;
    }
}

.footer__txt {
    width: 300px;
    color: white;
    font-size: 20px;
    @include flex-center;
    & a {
        color: white;
    }
}