
header {
    height: 25%;
}

.header__container {
    height: 100%;
    @include flex-center;
}

.header__logo {
    @include flex-center;
    & img {
        width: 300px;
        max-width: 100%;
    }
}