

main {
    height: 50%;
    padding: 30px 0;
}

.main__container {
    // border: 1px solid green;
    height: 100%;
    @include flex-center;
    justify-content: space-around;
    flex-direction: column;
}