main {
    height: 100%;
}

.main__small {
    // border: 1px solid green;
    height: unset;
    @include flex-column;
    align-items: center;
    justify-content: space-evenly;

    &--title {
        font-size: 20px;
    }

    &--txt {
        font-size: 15px;
        text-align: justify;
    }

    &--bg {
        background: #F3CA40;
    }
}

.main__container {
    // border: 1px solid green;
    height: 100%;
    @include flex-center;
    justify-content: space-around;
    flex-direction: column;
}

.container__txt {
    // border: 1px solid green;
    opacity: 0;
    margin: 20px;
    width: 50%;
    padding: 10px;
    text-align: center;
    animation: card-fondu 1s ease-in-out 900ms both;
    -webkit-animation: card-fondu 1s ease-in-out 900ms both;

    & img {
        width: 100%;
    }
}

.container__logo {
    border: 5px solid #F2A541;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    animation: slide-right 1s ease-in-out 1.5s both;
    -webkit-animation: slide-right 1s ease-in-out 1.5s both;
}

.nav__bar {
    // border: 1px solid green;
    position: relative;
    bottom: 40px;
    border-radius: 30px 30px 0 0;
    opacity: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    background: #2D1E2F;
    align-items: center;
    animation: slide-up 1s ease-in-out 200ms both;
    -webkit-animation: slide-up 1s ease-in-out 200ms both;

    & a {
        color: white;
    }
}