/* Coolors Exported Palette - https://coolors.co/ff0000-e8ebf7-f3ca40-f2a541-2d1e2f */

/* CSS HEX */
--red: #ff0000ff;
--ghost-white: #e8ebf7ff;
--maize-crayola: #f3ca40ff;
--yellow-orange: #f2a541ff;
--dark-purple: #2d1e2fff;

/* CSS HSL */
--red: hsla(0, 100%, 50%, 1);
--ghost-white: hsla(228, 48%, 94%, 1);
--maize-crayola: hsla(46, 88%, 60%, 1);
--yellow-orange: hsla(34, 87%, 60%, 1);
--dark-purple: hsla(293, 22%, 15%, 1);

/* SCSS HEX */
$red: #ff0000ff;
$ghost-white: #e8ebf7ff;
$maize-crayola: #f3ca40ff;
$yellow-orange: #f2a541ff;
$dark-purple: #2d1e2fff;

/* SCSS HSL */
$red: hsla(0, 100%, 50%, 1);
$ghost-white: hsla(228, 48%, 94%, 1);
$maize-crayola: hsla(46, 88%, 60%, 1);
$yellow-orange: hsla(34, 87%, 60%, 1);
$dark-purple: hsla(293, 22%, 15%, 1);

/* SCSS RGB */
$red: rgba(255, 0, 0, 1);
$ghost-white: rgba(232, 235, 247, 1);
$maize-crayola: rgba(243, 202, 64, 1);
$yellow-orange: rgba(242, 165, 65, 1);
$dark-purple: rgba(45, 30, 47, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-right: linear-gradient(90deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-bottom: linear-gradient(180deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-left: linear-gradient(270deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-top-right: linear-gradient(45deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-bottom-right: linear-gradient(135deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-top-left: linear-gradient(225deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-bottom-left: linear-gradient(315deg, #ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);
$gradient-radial: radial-gradient(#ff0000ff, #e8ebf7ff, #f3ca40ff, #f2a541ff, #2d1e2fff);